@import "tailwindcss";

@theme {
  --color-cinza-escuro: #171D1F;
  --color-grafite: #00090E;
  --color-offwhite: #E1E1E1;
  --color-cinza-medio: #888888;
  --color-verde-destaque: #81FE88;
  --color-verde-petroleo: #132E35;
}

body {
  margin: 0;
  font-family: 'Prompt', system-ui, sans-serif;
  background-color: var(--color-cinza-escuro);
  color: var(--color-offwhite);
}

* {
  box-sizing: border-box;
}